{% extends 'base.html.twig' %}

{% block title %}Edit SchoolClass{% endblock %}

{% block body %}
    <h1>Edit SchoolClass</h1>

    {{ include('adminClass/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_class_index') }}">back to list</a>

    {{ include('adminClass/_delete_form.html.twig') }}
{% endblock %}
