{% extends 'base.html.twig' %}

{% block title %}Edit Representation{% endblock %}

{% block body %}
    <h1>Edit Representation</h1>

    {{ include('adminSchoolClass/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_class_index') }}">back to list</a>

    {{ include('adminSchoolClass/_delete_form.html.twig') }}
{% endblock %}
